---
Language: Cpp
Standard: c++17

BasedOnStyle: LLVM
ColumnLimit: 100

# Indentation
IndentWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: false
NamespaceIndentation: None
AccessModifierOffset: -4

# Braces
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: All

# Alignment
PointerAlignment: Left
ReferenceAlignment: Left
AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments: true

# Packing
BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  # Project headers
  - Regex: '^"'
    Priority: 1
  # System headers
  - Regex: '^<'
    Priority: 2

# Misc
FixNamespaceComments: true
ReflowComments: true
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
...
