# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

data/
obj/
build/
output/

pendulum
pendulum-gui

*.mp4
*.webm
*.mp3
*.aac
*.png
*.wav

# Config overrides
*.toml.local

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

# IDE/Editor
.cache/
.vscode/
.idea/

# Old output directories
fds/
test/